name: CI

on:
  push:
    branches:
      - auto
      - try
      - try-perf
      - master
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, pypy3]
        flask-version: ["<2.0.0", ">=2.0.0"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -r requirements-dev.txt "flask${{ matrix.flask-version }}"
        pip install .
    - name: Run tests
      run: if which mypy; then make ci; else make test; fi
    - name: Report coverage to Codecov
      uses: codecov/codecov-action@v1
